block content
  h1 Nikos Home
  p Welcome

  button#BubbleButton(
    type='submit'
    style='width: 100px; height: 100px;'
    onclick="powerOn()"
  ) Turn On

  button#BubbleButton(
    type='submit'
    style='width: 100px; height: 100px;'
    onclick="powerOff()"
  ) Turn Off

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

script.
  function powerOn(){
    $.ajax({
      "url": "/lights?power=1",
      "method": "GET"
    });
  }

script.
  function powerOff(){
    $.ajax({
      "url": "/lights?power=0",
      "method": "GET"
    });
  }

